body {
  margin: 0;
  padding: 0;
  background-color: #202528;
  font-family: "Roboto", sans-serif;
}

/* *------------------ header ------------------- */
header {
  float: left;
  z-index: 2;
  position: absolute;
  padding-left: 10vw;
  padding-top: 20px;
}

header img {
  height: 80px;
  width: 80px;
  padding: 5px;
  border-radius: 5px;
  background-color: #3b4314;
}
/* *------------------ header end  ------------------- */

/* !----------------------- new Section ---------------------------*/

/* *------------------ nav ------------------- */
nav {
  background-color: #212622;
  text-align: center;
  color: var(--stone-0);
}

nav ul {
  list-style-type: none;
  overflow: hidden;
}

nav li {
  display: inline-block;
}

nav a {
  color: var(--stone-0);
  display: block;
  width: 10vw;
  padding: 20px 18px;
  text-decoration: none;
  text-transform: uppercase;
}
/* ?button styles  */

/* TODO add modal for login form */

.button {
  float: right;
  border: none;
  border-radius: 15px;
  padding: 10px 25px 10px 25px;
  font-size: 18px;
  color: var(--purple-0);
  background-color: #3b4314;
  margin: 10px 10vw 10px 0px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* ?Change layout on screen sizes smaller than 600px */
@media (max-width: 700px) {
  header {
    position: relative;
    float: left;
    padding-left: 10vw;
    padding-top: 20px;
  }
  nav li {
    border: none;
  }
  nav li {
    display: flex;
    flex-wrap: nowrap;
  }
  nav li {
    width: 80%;
    border-top: white solid 1px;
  }
  nav ul {
    padding-left: 10px;
  }

  nav li:first-child {
    border-top: none;
  }
}

/* *-------------------- Nav Section End  ---------------------- */

/* !----------------------- new Section ---------------------------*/

/* *--------------------------- ImgSlider ------------------------ */

.carousel {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

.slides {
  display: flex;
  width: 100%;
  height: 100%;
  transition-delay: 0;
  position: absolute;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s opacity ease-in-out;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide.active {
  opacity: 1;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5em;
  padding: 0.5em;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.233);
}
.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.817);
  transition: 0.6s ease;
}

.prev {
  border-radius: 0 3px 3px 0;
  left: 0;
}

.next {
  border-radius: 3px 0 0 3px;
  right: 0;
}

@media (max-width: 700px) {
  .carousel {
    display: none;
  }
}

/* *--------------------------- ImgSlider end ------------------------ */

/* !----------------------- new Section ---------------------------*/
