* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0;
  background-color: var(--gray-9);
}
nav h1 {
  color: var(--blue-2);
}
/* global css */
#kp-css {
  position: relative;
  color: var(--blue-1);
  background-color: var(--gray-9);
  border-radius: 15px 15px 0 0;
  margin-top: -15px;
}

#kp-css h2 {
  font-size: var(--font-size-fluid-2);
  color: var(--green-3);
  text-align: center;
}
/* 2nd section under slider */

#jp-css {
  font: var(--font-serif);
  font-size: var(--font-size-fluid-0);
  color: var(--gray-12);
  background-color: var(--gray-9);
}

#jp-css h2 {
  font-size: var(--font-size-fluid-3);
  color: var(--gray-11);
}

/* *------------------ header ------------------- */

.container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: var(--gray-10);
  padding: 16px 32px;
}
.menu a.is-active,
.menu a:hover {
  color: var(--green-5);
  background-color: var(--blue-1);
}
nav h1 {
  color: var(--blue-1);
  text-decoration: underline var(--green-3);
}
@media (max-width: 1020px) {
  .container > img {
    display: none;
  }
}

.logo {
  float: left;
  display: flex;
  position: relative;

  user-select: none;

  appearance: none;
  border: none;
  outline: none;
  background: none;
}

.hamburger {
  display: block;
  position: relative;
  z-index: 1;

  user-select: none;

  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background-color: var(--gray-1);
  border-radius: 6px;
  z-index: 1;

  transform-origin: 0 0;
  transition: 0.4s;
}

.hamburger:hover span:nth-child(2) {
  transform: translateX(10px);
  background-color: var(--orange-2);
}

.hamburger.is-active span:nth-child(1) {
  transform: translate(0px, -2px) rotate(45deg);
}
.hamburger.is-active span:nth-child(2) {
  opacity: 0;
  transform: translateX(15px);
}

.hamburger.is-active span:nth-child(3) {
  transform: translate(-3px, 3px) rotate(-45deg);
}
.hamburger.is-active:hover span {
  background-color: var(--orange-2);
}
.menu {
  display: none;
  flex: 1 1 0%;
  justify-content: flex-end;
}
.menu a {
  margin: 0 16px;
  padding: 13px 25px 13px 25px;
  text-decoration: none;
  font-size: 20px;
  transition: 0.6 s;
  border-radius: 99px;
}

.mobileA {
  margin: 0 16px;
  padding: 13px 25px 13px 25px;
  text-decoration: none;
  font-size: 20px;
  transition: 0.6 s;
  border-radius: 99px;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100vw;
  min-height: 100vh;
  display: block;
  z-index: 1;
  background-color: var(--gray-9);
  padding-top: 140px;
  transition: 0.4s;
}

@media (min-width: 860px) {
  .mobile-nav {
    display: none;
  }
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-nav .mobileA {
  display: block;
  width: 100%;
  margin: 0 auto 16px;
  text-align: center;
  margin-bottom: 16px;
  padding: 12px 16px;
  border-radius: 10px;
  width: fit-content;
  background-color: var(--green-3);
  color: var(--gray-11);
  text-decoration: none;
}

.mobileA:hover {
  background-color: var(--blue-1);
  color: var(--green-4);
  transition: ease-in 0.3s;
}

/* *------------------ header end ------------------- */ /* !----------------------- new Section ---------------------------*/ /* *------------------ nav ------------------- */
/* ?button styles */

/* TODO add modal for login form */

.btn-log {
  border-radius: 20px;
  padding: 13px 25px 13px 25px;
  font-size: 20px;
  color: var(--gray-12);
  background-color: var(--orange-3);
  margin: 0 16px;
}

.btn-log:hover {
  background-color: var(--green-3);
  transition: 0.7s;
  color: var(--gray-12);
}

.btn-log-mobile {
  border-radius: 20px;
  padding: 13px 25px 13px 25px;
  font-size: 20px;
  color: var(--gray-12);
  background-color: var(--orange-3);
  margin: 0 16px;
}

.btn-log-mobile:hover {
  background-color: var(--green-3);
  transition: 0.7s;
  color: var(--gray-12);
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.902); /* Black w/ opacity */
}

.modal-content {
  background-color: var(--gray-11);
  border-radius: 10px;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid var(--gray-3);
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  color: var(--blue-1);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--gray-9);
  text-decoration: none;
  cursor: pointer;
}

/* ?Change layout on screen sizes smaller than 600px */

/* *-------------------- Nav Section End  ---------------------- */

/* !----------------------- new Section ---------------------------*/

/* *--------------------------- ImgSlider ------------------------ */

.carousel {
  background-color: rgba(0, 0, 0, 0.858);
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;
}

.slides {
  display: flex;
  width: 100%;
  height: 100%;
  transition-delay: 0;
  position: absolute;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 1s ease-in-out;
}

.slide img {
  opacity: 0.3;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide.active {
  opacity: 1;
}

.prev,
.next {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  font-size: 1.5em;
  padding: 0.5em;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.233);
}
.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.817);
  transition: 0.6s ease;
}

.prev {
  border-radius: 0 3px 3px 0;
  left: 0;
}

.next {
  border-radius: 3px 0 0 3px;
  right: 0;
}

/* *--------------------------- ImgSlider end ------------------------ */

/* !----------------------- new Section ---------------------------*/

footer {
  background-color: var(--gray-10);
  color: var(--blue-2);
  padding: 20px 0;
  display: flex;
}

footer .container {
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

footer p {
  margin: 0;
}

footer nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: end;
}

footer nav ul li {
  margin-right: 10px;
}

footer .social-icons {
  display: flex;
}

footer .social-icons a {
  margin-right: 10px;
  color: var(--orange-2);
  font-size: 20px;
}

/* *key frames */

@media (min-width: 788px) {
  .hamburger {
    display: none;
    opacity: 0;
  }
  .logo {
    display: none;
    opacity: 0;
  }
  .menu {
    display: flex;
  }
}
@media only screen and (max-width: 860px) {
  .logo {
    transition: 1s ease-in;
    opacity: 1;
  }
}
@media (max-width: 870px) {
  .menu h1,
  .desktopA,
  .button {
    transition: 1s ease-out;
    opacity: 0;
  }
  .btn-log {
    transition: 1s ease-in;
    opacity: 0;
  }
}
@media (min-width: 870px) {
  .menu,
  h1,
  .desktopA,
  .btn-log {
    transition: 1s ease-in;
    opacity: 1;
  }
}
@media (max-width: 870px) {
  .container h1 {
    transition: 1s ease-out;
    opacity: 0;
  }
}
@media (max-width: 800px) {
  .container h1 {
    transition: 1s ease-out;
    display: none;
  }
}

@media (min-width: 800px) {
  button .hamburger {
    transition: 1s ease-in;
    opacity: 1;
  }
}
